<?xml version="1.0"?>
<robot name="warebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Arguments for configuration -->
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="is_sim" default="false" />
  <xacro:arg name="use_platform_controllers" default="false"/>
  <xacro:arg name="front_wheels" default="outdoor"/>
  <xacro:arg name="rear_wheels" default="outdoor"/>
  
  <!-- Include the base A200 robot platform -->
  <xacro:include filename="$(find warebot)/description/urdf/a200.urdf.xacro"/>
  
  <!-- Include attachment macros (optional - can be instantiated as needed) -->
  <xacro:include filename="$(find warebot)/description/urdf/attachments/bumper.urdf.xacro"/>
  <xacro:include filename="$(find warebot)/description/urdf/attachments/top_plate.urdf.xacro"/>
  <xacro:include filename="$(find warebot)/description/urdf/attachments/sensor_arch.urdf.xacro"/>
  <xacro:include filename="$(find warebot)/description/urdf/attachments/observer_backpack.urdf.xacro"/>

  <!-- Instantiate the base A200 robot -->
  <xacro:a200 
    front_wheels="$(arg front_wheels)" 
    rear_wheels="$(arg rear_wheels)"/>


</robot>
